python-telegram-bot[job-queue,webhooks]==22.7
yt-dlp
curl_cffi>=0.7
python-dotenv==1.0.1
requests[socks]==2.32.3
yandex-music==3.0.0
soundcloud-v2==1.7.0
pydantic==2.9.2
pydantic-settings==2.6.1
prometheus_client>=0.20.0
